.footer__column-link {
    color: #fff;
    text-decoration: none;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
}

.footer__column-link:hover {
    opacity: 50%;
    transition: 1s ease-out;
}