.feynman {
    min-height: 890px;
    position: relative;
}

.feynman__image{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.feynman__title {
    width: 648px;
    text-align: center;
    line-height: 1.15;
    font-size: 120px;
    font-weight: 600;
    margin: 0 auto 70px;
}

.feynman__subtitle {
    display: flex;
    justify-content: center;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    margin-top: 70px;
}

.feynman__link {
    text-decoration: none;
    color: #2f80ed;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    position: absolute;
    right: 48px;
    top: 50%;
}