.footer {
    background: #1f1f1f;
    color: white;
    display: flex;
    min-height: 350px;
    justify-content: center;
}

.footer__columns {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 90%;
    margin-top: 60px;
    margin-bottom: 40px;
    color: #fff;
}

.footer__column {
    margin-top: 0;
    margin-bottom: 0;
}

.footer__column_content_copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 711px;
}

.footer__author {
    margin: 18px 0;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
}

.ffooter__column-heading {
    line-height: 30px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0;
}

.footer__column-links {
    list-style: none;
    padding-left: 0;
}

.footer__column-link {
    color: #fff;
    text-decoration: none;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
}

.footer__column-link:hover {
    opacity: 10%;
    transition: 1s;
    transition-timing-function: linear;
}

.footer__social-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}