.logo{
    width: 183px;
}
  
.logo_place-header {
    position: absolute;
    top: 30px;
    left: 64px;
    height: 32px;
    z-index: 1;
}

.logo_place-footer {
    justify-content: flex-start;
    height: 35px;
}