.section-subtitle_theme_dark {
    color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin: 20px auto 0;
    z-index: 1;
}