.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    /* выше установили ограничения для секции */
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}
  
.header__title {
    width: 730px;
    margin-left: 64px;
    line-height: 96px;
    font-size: 102px;
    font-weight: 600;
    z-index: 2;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
    height: 568px;
    width: 568px;
    position: absolute;
    top: 64px;
    right: 0;
    background-color: #2f80ed;
    animation: 18s infinite;
    animation-name: slidein;
}

/* 
@keyframes slidein {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
} */

.header__subtitle {
    position: absolute;
    max-width: 388px;
    left: 64px;
    bottom: 30px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    z-index: 2;
}

.header__link {
    text-decoration: none;
    color: #2f80ed;
}

.header__main-illustration {
    position: absolute;
    width: 765px;
    height: 608px;
    right: 0;
    bottom: 0;
    z-index: 1;
    object-fit: contain;
    object-position: right;
}

.section-title {
    font-size: 60px;
    font-weight: 600;
    line-height: 1.15;
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
}

.section-subtitle {
    display: flex;
    justify-content: center;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin: 20px auto 60px;
}

.table {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto 100px;
    padding-left: 0;
    position: relative;
}

.table__cell {
    width: 250px;
    list-style: none;
    margin-top: 60px;
}

.table__heading {
    line-height: 1.15;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0;
}

.table__text {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin-top: 20px;
    padding: 0;
    margin-bottom: 0;
}

.table_theme_dark {
    margin-bottom: 90px;
    padding: 0;
    z-index: 1;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}

.table__heading_theme_dark {
    line-height: 1.15;
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 20px;
}
  
.kaufman {
    background-color: #1f1f1f;
    position: relative;
    overflow: hidden;
}

.kaufman__triangle {
    background-image: url(../images/kaufman-triangle.svg);
    width: 877px;
    height: 877px;
    z-index: 0;
    position: absolute;
    top: 0;
    right: -200px;
}


.section-title_theme_dark {
    position: relative;
    width: 60%;
    color: #fff;
    margin: 90px auto 20px;
    font-size: 60px;
    font-weight: 600;
    line-height: 1.15;
    display: flex;
    justify-content: center;
}

.section-subtitle_theme_dark {
    color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin: 20px auto;
}

.feynman {
    min-height: 890px;
    position: relative;
    background-color: #f2f2f2;
    background-image: url('../images/feynman.png');
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-size: 867px 637px;
    background-position: bottom left;
    padding-top: 100px;
}

.feynman__title {
    width: 648px;
    text-align: center;
    line-height: 1.15;
    font-size: 120px;
    font-weight: 600;
    margin: 0 auto 70px;
}

.feynman__subtitle {
    display: flex;
    justify-content: center;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    margin-top: 70px;
}

.feynman__link {
    text-decoration: none;
    color: #2f80ed;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    position: absolute;
    right: 48px;
    top: 50%;
}

.logo{
    width: 228px;
    height: 32px;
}
  
.logo_place-header {
    position: absolute;
    top: 30px;
    left: 64px;
}

.two-columns {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 100px auto;
}

.two-columns__brief {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: #2F80ED;
    width: 175px;
    margin-right: 40px;
}

.two-columns__main-text {
    width: 80%;
    min-width: 784px;
    align-items: baseline;
    margin-top: 0cm;
}

.two-columns__paragraph {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 34px;
    padding: 0;
    margin-top: 0;
}

.two-columns__paragraph:last-child {
    margin-bottom: 0;
}

.two-columns__span-accent {
    font-weight: bold;
}

.description {
    display: flex;
}

.footer {
    background: #1f1f1f;
    color: white;
    display: flex;
    min-height: 350px;
    justify-content: center;
}

.footer__columns {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 90%;
    margin-top: 60px;
    margin-bottom: 40px;
    color: #fff;
}

.footer__column {
    margin-top: 0;
    margin-bottom: 0;
}

.footer__column_content_copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 711px;
}

.footer__author {
    margin: 18px 0;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
}

.ffooter__column-heading {
    line-height: 30px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0;
}

.footer__column-links {
    list-style: none;
    padding-left: 0;
}

.footer__column-link {
    color: #fff;
    text-decoration: none;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
}

.footer__column-link:hover {
    opacity: 10%;
    transition: 1s;
    transition-timing-function: linear;
}

.footer__social-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

